* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size:  62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.main {
    background: url('/assets/img/background-gradient.png');
    position: relative;
    top: -0.2rem;
    left: -0.2rem;
    width: 100%;
    height: 73.4rem;
}

.main .navbar img{
    width: 9%;
    margin-right: auto;
}

.navbar {
    position: relative;
    margin: 0 5.7rem;
    top: 3rem;
    gap: 3rem;
    display: flex;
    justify-content: flex-end;    
}

#select {
    background: rgba(0,0,0,0.5);
    border: 0.2rem solic white;
    color: white;
    width: 10rem;
    height: 3.6rem;
    border-radius: 0.2rem;
    text-align: center;
}

#btn-login {
    background: red;
    color: white;
    border: none;
    width: 8rem;
    height: 3.3rem;
    border-radius: 0.2rem;
    font-size: 1.7rem;
    font-weight: 400;
}

.main-content {
    max-width: 80rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center; 
    margin: 19.3rem auto;
    gap: 1rem;   
}

.main-content h1{
    font-size: 6rem;      
    text-align: center;
}

.main-content h2{
    font-size: 2.5rem;
    font-weight: 200;     
}

.main-form {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 2rem;
}
.main-form .send-email {
    position: relative;
    display: flex;
    justify-content: center;
    top: 2rem;
}

.main-form h3 {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
}

.send-email input {
    width: 50rem;
    height: 7rem;
    background: white;
    border: 0.1rem solid rgb(80, 80, 80);
    border-radius: 0.3rem 0 0 0.3rem; 
    outline: none;

}

.send-email input::placeholder, .send-email input:focus{
    font-size: 1.5rem;
    padding-left: 2rem;
    align-items: center;
}

.send-email button {
    width: 21rem;
    height: 6.8rem;
    margin-top: 0.1rem;
    background: red;
    border: none;
    font-size: 2.5rem;
    border-radius: 0 0.3rem 0.3rem 0;
    color: white;
    cursor: pointer;
}

.line-gray {
    position: relative;
    background: rgb(37, 37, 37);
    width: 100%;
    height: 0.8rem;
    top: -0.2rem;
    
}

.black-bg{
    position: relative;
    background: black;
    width: 100%;
    height: 41.6rem;
    top: -0.2rem;  s
    padding: 4.5rem 7rem;
}















